{
  "$schema": "https://json-schema.org/draft-07/schema#",
  "name": "<%= fileName %>",
  "version": "1.0.0",
  "generators": {
    "<%= fileName %>": {
      "factory": "./generator",
      "schema": "./schema.json",
      "description": "<%= description %>"
    }
  }
}
