{
	"$schema": "https://raw.githubusercontent.com/jetpack-io/devbox/main/.schema/devbox.schema.json",
	"packages": [
		"git",
		"curl",
		"just",
		"jq",
		"make",
		"postgresql@15",
		"ripgrep",
		"fd",
		"uv",
		"supabase",
		"jdk"
	],
	"shell": {
		"init_hook": [
			"bash scripts/devbox_boot.sh"
		]
	}
}
